.characterGlobal {
    width: 250px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    box-shadow: 10px 5px 40px 5px white;
  }

  .characterDisplay {
    display:flex;
    flex-direction: column;
    color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height:20px;
    
  }

/* .characterImage {
    width: 200px;
} */

.characterImg {
    height: 300px;
    width: 100%;
}

.isFavorite {
    width: 40px;
    height: 40px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/35/Emoji_u2665.svg');
    background-size: 100%;
    align-self: flex-start;
  }
  
  .notFavorite {
    width: 40px;
    height: 40px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/4f/Ei-heart.svg');
    background-size: 100%;
    align-self: flex-start;
  }