
:root {

  --HeadingXL: lighter 4rem 'Star Jedi', sans-serif;
  --HeadingL: lighter 2.5rem 'Star Jedi', sans-serif;
  --HeadingM: lighter 2rem 'Star Jedi', sans-serif;
  --HeadingS: lighter 1.5rem 'Star Jedi', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  line-height: 1.5;
  font-weight: 400;
  background: url(https://i.ibb.co/87GbbFP/2799006.jpg) no-repeat;
  font-synthesis: none;
}

